/*********************************/
/*********** LARGE ***********/
/*********************************/

@media only screen and (max-width: 1200px) {

body {
    background-color: rgb(255, 255, 250);
    margin: 0;
}

h1 {
	font-family: bely-display, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1;
	width: 100%;
	background-color: #282A35;
	color: white;
	height: 20%;
	padding: 40px 0;
}

.dataset {
	margin: 4% 10%;
	line-height: 2;
	text-align: center;
}

.dataset a {
	padding: 15px 20px;
}

#sector-frame {
	width: 700px;
	height: 560px;
}

#toggle {
	margin: 30px 10px;
}

#toggle a {
	background-color: #282A35;
	color: white;
	padding: 10px 20px;
	margin: 20px;
	text-decoration: none;
	font-weight: 600;
}

}

/*********************************/
/*********** MEDIUM ***********/
/*********************************/

@media only screen and (max-width: 850px) {

.present, .past, .overview, .home-info {
	margin: 4%;
}

h1 {
	font-family: bely-display, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1;
	width: 100%;
	background-color: #282A35;
	color: white;
	height: 20%;
	padding: 40px 0;
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
	margin: 4% 5%;
	text-align: center;
}

p {
	font-size: .9em;
	margin: 4% 2%;
}

.about {
	margin: 2% 5%;
	line-height: 1.5;
}

.dataset {
	margin: 3%;
	text-align: center;
}

.dataset a {
	padding: 10px 20px;
	font-size: .8em;
}

#sector-frame {
/*	width: 600px;
	height: 480px;*/
	width: 80%;
	height: 500px;
}

label {
	margin: 10px; 
	line-height: 2;
}

.central-container {
	width: 70%;
}

}

/*********************************/
/*********** SMALL ***********/
/*********************************/

@media only screen and (max-width: 650px) {

.present, .past, .overview, .home-info {
	margin: 2%;
}

h2 {
	font-size: 1.4em;
	margin: 3%;
}

.dataset {
	margin: 3%;
	text-align: center;
}

.dataset a {
	padding: 10px;
	font-size: .8em;
}

#sector-frame {
/*	width: 600px;
	height: 480px;*/
	width: 90%;
	height: 400px;
}

#toggle {
	margin: 25px;
}

#toggle a {
	color: white;
	padding: 10px 10px;
	margin: 20px;
}

#key a {
	margin: 5px 2px;
	padding: 5px;
}

.btn-group {
	margin: 4%;
}

label {
	margin: 10px; 
	line-height: 2;
}

.central-container {
	width: 70%;
	margin: 0;
	padding: 0;
}


}