body {
    background-color: rgb(255, 255, 250);
    margin: 0;
}

/*canvas {
	width: 100%;
	height: 800px;
}*/

/*********************************/
/*********** LAYOUT ***********/
/*********************************/

.home {
	margin: 3% 0%;
	text-align: center;
}

.present, .past, .overview, .home-info {
	margin: 0 10%;
	text-align: center;
}

.sector-data {
	margin: 0;	
}

.sector-revenue {
	display: inline;
}

.sector-profit {
	display: none;
}

.antitrust {
	width: 500px;
	height:400px;
}

.central-container {
	width: 100%
	margin: 0 10%;
}

.about {
	margin: 2% 20%;
	line-height: 1.5;
}


.back {
	width: 100%;
	margin: 10% 0%;
}

/*********************************/
/*********** TYPE ***********/
/*********************************/

label {
	margin: 0px; 
	padding: 40px 0px;
}

h1 {
	font-family: bely-display, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1;
	width: 100%;
	background-color: #282A35;
	color: white;
	height: 20%;
	padding: 40px 0;
}

h1 a#past {
	text-decoration: none;
	color: #AAF9DC;
	font-size: 1.4em;
}

h1 a#present {
	text-decoration: none;
	color: #EBFC9B;
	font-size: 1.4em;
}

h1 a#past:visted {
	text-decoration: none;
	color: #AAF9DC;
	font-size: 1.4em;
}

h1 a#present:visted {
	text-decoration: none;
	color: #EBFC9B;
	font-size: 1.4em;
}

h2 {
	font-family: pt-sans-pro,sans-serif;
	font-weight: 700;
	font-style: normal;
	line-height: 1.5;
}

h4 {
	font-family: bely-display, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1;
	width: 100%;
	color: #282A35;
	height: 20%;
	padding: 40px 0;
}

h4 a#past {
	text-decoration: none;
	color: #AAF9DC;
	font-size: 1.4em;
}

h4 a#present {
	text-decoration: none;
	color: #EBFC9B;
	font-size: 1.4em;
}

.details, .antitrust-data {
	font-family: pt-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.back a, .back a:active, .back a:visited {
	font-family: pt-sans-pro, sans-serif;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
}

#citation {
	font-family: pt-sans-pro, sans-serif;
	font-weight: 600;
	text-decoration: none;
	font-size: .5em;
	vertical-align: super;
	padding: 0px 2px;
	color: blue;
}

#citation:visited {
	color: blue;
}

.dataset {
	margin: 4% 20%;
	line-height: 2;
	text-align: center;
}

.dataset a {
	background-color: #282A35;
	color: white;
	padding: 20px 40px;
	margin: 40px;
	text-decoration: none;
	font-weight: 600;
}

.dataset a:visited {
	background-color: black;
}


/*********************************/
/*********** EMBED ***********/
/*********************************/

#toggle {
	margin: 50px 20px;
}

#toggle a {
	background-color: #282A35;
	color: white;
	padding: 20px 40px;
	margin: 40px;
	text-decoration: none;
	font-weight: 600;
}

#toggle a:active {
	background-color: black;
}

.sector-industry {
	font-family: pt-sans-pro,sans-serif;
	font-weight: 700;
	font-style: normal;
	line-height: 1;
}

#industry {
	font-family: pt-sans-pro,sans-serif;
	font-weight: 700;
}

#data {
	font-family: pt-sans-pro,sans-serif;
	font-weight: 700;
}

/*********************************/
/*********** KEY ***********/
/*********************************/

#key {
	margin: 40px;
	width: 90%;
}

#key a {
	margin: 10px 2px;
	padding: 5px;
	font-family: pt-sans-pro,sans-serif;
	font-weight: 500;
	display: inline-block;
	color: white;
}

.InformationTechnology {
	background-color: darkslateblue;
}

.CommunicationServices {
	background-color: cornflowerblue;
}

.ConsumerDiscretionary {
	background-color: cadetblue;
}

.Financials {
	background-color: darkseagreen;
}

.ConsumerStaples {
	background-color: thistle;
}

.Energy {
	background-color: orchid;
}

.HealthCare {
	background-color: mediumorchid;
}

.Industrials {
	background-color: firebrick;
}

.Utilities {
	background-color: darkorange;
}

.Materials {
	background-color: sandybrown;
}

.RealEstate {
	background-color: gold;
}

.NotFound {
	background-color: whitesmoke;
	color: darkgrey!important;
}


/*********************************/
/*********** TOOLTIP ***********/
/*********************************/

.node:hover{
  stroke-width: 2px !important;
  opacity: 1!important;
}

h3 {
	font-family: pt-sans-pro,sans-serif;
	font-weight: 600;
	font-style: normal;
	line-height: 1;
}

.tooltip {
	color: white;
	width: 90%;
	height: 20%;
	margin: 0 5%;
	padding: 20px 20px 40px 20px;
	border-radius: 0px;
}

.sector-string {
	font-family: pt-sans-pro, sans-serif;
	font-weight: 600;
	font-style: none;
	color: white;
}

.industry-string {
	font-weight: 400;
	font-style: italic;
}

.year-data {
	font-family: pt-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: white;
	font-size: .7em;
}

.company {
	font-family: pt-sans-pro, sans-serif;
	font-weight: 400;
	font-style: none;
	color: white;
}

.employees {
	font-family: pt-sans-pro, sans-serif;
	font-weight: 400;
	font-style: none;
	color: white;
}

.footer {
	height: 60px;
	float:right;
	margin-bottom: 20px;
}

.bold-data {
	font-weight: 600;
}

